@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.LOAISANPHAM>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Danh sách các loại sản phẩm</title>
    <link href="~/Assets/Manager/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Assets/Manager/dist/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/Manager/dist/assets/vendor/magnific-popup/magnific-popup.css" />


</head>
<main>
    <div class="container-fluid">

        <div col="mb-4">

            <div class="alert alert-success" id="success-alert">
                <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                Đã thêm mới loại sản phẩm thành công.
            </div>

            <div class="alert alert-danger" id="danger-alert">
                <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
            </div>
            <div class="card mb-4">

                <div class="card-header"><b>THÊM MỚI LOẠI SẢN PHẨM</b></div>
                <div class="card-body">
                    <form action="/action_page.php" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-sm-3">
                                <label>Mã loại sản phẩm</label>

                                <input type="number" class="form-control" placeholder="Nhập mã loại sản phẩm" id="ma" readonly required>
                                <div class="invalid-feedback">Vui lòng nhập đầy đủ thông tin về mã loại sản phẩm</div>

                            </div>

                            <div class="form-group col-sm-3">
                                <label>Tên loại sản phẩm</label>

                                <input type="text" class="form-control" placeholder="Nhập tên loại sản phẩm" id="ten" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-3">
                                <label>Phần trăm lợi nhuận</label>

                                <input type="number" class="form-control" placeholder="Nhập phần trăm lợi nhuận" id="phantramloinhuan" min="0" max="100" required>
                                <div class="invalid-feedback">Vui lòng nhập đầy đủ thông tin về phần trăm lợi nhuận</div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="donvitinh">Đơn vị tính</label>
                                <select class="form-control" placeholder="Chọn đơn vị tính" id="donvitinh" required>
                                    <option>--- Chọn ---</option>
                                    <option>cây</option>
                                    <option>người</option>
                                    <option>viên</option>
                                </select>
                                <div class="invalid-feedback">Vui lòng nhập đầy đủ thông tin về đơn vị tính</div>

                            </div>
                        </div>


                        <button id="addToTable" class="btn btn-primary">Thêm</button>
                    </form>
                </div>

            </div>

        </div>

        <div class="card mb-4">

            <div class="card-header"><b>DANH MỤC CÁC LOẠI SẢN PHẨM</b></div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-none" id="datatable-editable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã loại sản phẩm</th>
                                <th>Tên loại sản phẩm</th>
                                <th>Phần trăm lợi nhuận</th>
                                <th>Đơn vị tính</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.MaLoaiSP)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.TenLoaiSP)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.PhanTramLoiNhuan)%
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.DONVITINH.TenDVT)
                                    </td>
                                    <td class="actions">
                                        <a href="#" class="hidden on-editing save-row"><i class="fa fa-save" style="font-size:20px"></i></a>
                                        <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times" style="font-size:20px"></i></a>
                                        <a href="#" class="on-default edit-row"><i class="fa fa-pencil-alt"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>

<link rel="stylesheet" href="~Assets/Manager/dist/assets/stylesheets/theme.css" />

<!-- Vendor -->
<script src="~/Assets/Manager/dist/assets/vendor/jquery/jquery.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<!-- Specific Page Vendor -->
<script src="~/Assets/Manager/dist/assets/vendor/select2/select2.js"></script>
<script src="~/Assets/Manager/dist/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>

<!-- Examples -->
<script src="~/Assets/Manager/dist/assets/javascripts/tables/examples.datatables.editable.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Assets/Manager/dist/js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
@*</body>
    </html>*@

<div id="dialog" class="modal-block mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Xóa vĩnh viễn?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Bạncó chắc chắn muốn xóa dòng này?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary">Đồng ý</button>
                    <button id="dialogCancel" class="btn btn-default">Từ chối</button>
                </div>
            </div>
        </footer>
    </section>
</div>


<style>
    .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        /**cursor: hand;*/
        color: #007bff !important;
        border: 1px solid transparent;
        border-radius: 2px
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            color: #333 !important;
            border: 1px solid #979797;
            background-color: white;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
            background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            /*background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);*/
            background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            cursor: default;
            color: #007bff !important;
            border: 1px solid transparent;
            background: transparent;
            box-shadow: none
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: white !important;
            border: 1px solid #007bff;
            background-color: #007bff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007bff), color-stop(100%, #007bff));
            background: -webkit-linear-gradient(top, #007bff 0%, #007bff 100%);
            background: -moz-linear-gradient(top, #007bff 0%, #007bff 100%);
            /*background: -ms-linear-gradient(top, #007bff 0%, #007bff 100%);*/
            background: -o-linear-gradient(top, #007bff 0%, #007bff 100%);
            background: linear-gradient(to bottom, #585858 0%, #007bff 100%)
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            outline: none;
            background-color: #007bff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #007bff));
            background: -webkit-linear-gradient(top, #007bff 0%, #007bff 100%);
            background: -moz-linear-gradient(top, #007bff 0%, #007bff 100%);
            /*background: -ms-linear-gradient(top, #007bff 0%, #0c0c0c 100%);*/
            background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
            background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
            box-shadow: inset 0 0 3px #007bff
        }

    .dataTables_wrapper .dataTables_paginate .ellipsis {
        padding: 0 1em
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 40px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background-color: white;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        /*background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);*/
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #333
    }

    .dataTables_wrapper .dataTables_scroll {
        clear: both
    }

        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
            *margin-top: -1px;
            -webkit-overflow-scrolling: touch
        }

            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
                vertical-align: middle
            }

                .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
                    height: 0;
                    overflow: hidden;
                    margin: 0 !important;
                    padding: 0 !important
                }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #007bff
    }

    .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
        border-bottom: none
    }

    .dataTables_wrapper:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0
    }

    @@media screen and (max-width: 767px) {
        .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
            float: none;
            text-align: center
        }

        .dataTables_wrapper .dataTables_paginate {
            margin-top: 0.5em
        }
    }

    @@media screen and (max-width: 640px) {
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
            float: none;
            text-align: center
        }

        .dataTables_wrapper .dataTables_filter {
            margin-top: 0.5em
        }
    }
</style>


