@model IEnumerable<QuanLiCuaHang.Models.LoaiSanPham>
@*@model IEnumerable<QuanLiCuaHang.Models.DVT>*@


@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<style>
    .button {
        border: none;
        color: blue;
        padding: 8px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 0px 2px 900px;
        transition-duration: 0.4s;
        cursor: pointer;
        float: right;
    }

    .button1 {
        background-color: whitesmoke;
        color: black;
        border: 3px solid #4CAF50;
    }
</style>

<h2 style="text-align:center; color:red">Danh sách các loại sản phẩm</h2>
<form action="~/Manager/LoaiSanPham/Tao">
    <button type="submit" class="button button1">
        Thêm sản phẩm
    </button>
</form>
<table class="table" border="1">
    <tr>
        <th style="color:blue; text-align:center; font-size:20px">
            Tên loại sản phẩm
        </th>
        <th style="color:blue; text-align:center; font-size:20px">
            Phần Trăm Lợi Nhuận
            @*@Html.DisplayNameFor(model => model.PhanTramLoiNhuan)*@
        </th>
        <th style="color:blue; text-align:center; font-size:20px">
            Mã đơn vị tính
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Xoa", "LoaiSanPham", new { id = item.MaLoaiSP }))
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TenLoaiSP)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.PhanTramLoiNhuan)
                </td>
                <td style="text-align:center">
                    @*@Html.DisplayFor(modelItem => item.TenDVT)*@
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Sua", new { id = item.MaLoaiSP }) |
                    @*@Html.ActionLink("Chi Tiết", "ChiTiet", new { id = item.MaLoaiSP }) |*@
                    @*@Html.ActionLink("Xóa", "Xoa", new { id = item.MaLoaiSP })*@

                    <input type="submit" value="Xóa" onclick="return confirm ('Bạn chắc chắn muốn xóa không?'" />

                </td>
            </tr>
        }
    }

</table>
