@model QuanLiCuaHang.Areas.Manager.Data.THAMSO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THAMSO</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhanTramTraTruoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
