@model QuanLiCuaHang.Areas.Manager.Data.TINHTRANGPDV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TINHTRANGPDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTinhTrangPDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
